body {
  background: #f5f4f4;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 35%;
}

th,
td {
  padding: 15px;
}

th {
  color: #212529;
}

td {
  color: #212529;
}

.text-class {
  color: crimson;
  margin-left: 15px;
}

.practice-class {
  color: teal;
  margin-top: 40px;
}

.name-class {
  color: white;
}

.form_class {
  color: #3e2e2e;
}

.suggestion_class {
  color: #291b1b;
}